/Cour 0/ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.db
/Cour 0/ConsoleApplication1/.vs/ConsoleApplication1/v15/Browse.VC.opendb
/Cour 0/ConsoleApplication1/.vs/ConsoleApplication1/v15/ipch/a6e26b85a154093.ipch
